<%= partial "headeren" %>


<div class="content" id="index">
    <div class="headeranim" ">
      <div class="banner-content"><br/><br/><br/><br/><br/><br/>
        <center>
        <h2>Accounting firm</h2><br/><br/>
        <a  href="#service" class="btn-medium">Our services</a></center>
      </div>
    </div>

  <%= partial "servicesen" %>
  <%= partial "sainttropezen" %>
  <%= partial "parisen" %>
  <%= partial "marseilleen" %>
  <%= partial "cogolinen" %>

</div>
