<%= partial "headeren" %>


<div class="content" id="index">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'cockpit.jpg' %>');">
      <div class="banner-content">
        <h1>CMA</h1>
        <p>Accounting firm</p>
        <a  href="#service" class="btn-medium">Our services</a>
      </div>
    </div>

  <%= partial "servicesen" %>
  <%= partial "sainttropezen" %>
  <%= partial "parisen" %>
  <%= partial "marseilleen" %>
  <%= partial "cogolinen" %>

</div>
