---
title: Aca - Consult
---

<%= partial "headerfr" %>


<div class="content" id="index">
    <div class="banner" style="background-image: radial-gradient(750.649px at 50% 50%, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'cockpit.jpg' %>');">
      <div class="banner-content">
        <h1>CMA</h1>
        <p>Cabinets d'expertise comptable, de commissariat aux comptes & de conseils</p>
        <a  href="#service" class="btn-medium">Découvrez nos services</a>
      </div>
    </div>

  <%= partial "servicesfr" %>
  <%= partial "sainttropezfr" %>
  <%= partial "parisfr" %>
  <%= partial "marseillefr" %>
  <%= partial "cogolinfr" %>

</div>
