---
title: Aca - Consult
---


<div class="header">

  <div class="content-header">
    <div class="logo">
      <p><% link_to '#index' do %><%= image_tag 'favicon.png', style:'width: 150px;' %></p><% end %>
    </div>
    <div class="menu">
    <p><a href="#service"> Services </a></p>
      <p><a href="#sainttropez"> Saint Tropez </a></p>
      <p><a href="#paris"> Paris </a></p>
      <p><a href="#marseille"> Marseille </a></p>
      <p><a href="#cogolin"> Cogolin </a></p>

    </div><% link_to "#" do%>
<%= image_tag 'united-kingdom.png', style:"height:30px; float: right;" %>
<% end %>
    <div class="france-defi">
      <p>Membre du groupe: </p>
        <% link_to 'https://www.francedefi.fr', target:"_blank" do %>
        <%= image_tag 'fd-logo.png', style:'height:50px;'  %>
        <% end  %>
    </div>
  </div>
</div>

<!-- Content -->
<div class="content" id="index">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'cockpit.jpg' %>');">
      <div class="banner-content">
        <h1>CMA</h1>
        <p>Cabinets d'expertise comptable & de commissariat aux comptes</p>
        <a  href="#service" class="btn btn-primary btn-lg">Découvrez nos services</a>
      </div>
    </div>

  <section id="service">
   <!-- menu -->
      <div class="banner-top menu-service">
        <a class="tab active" data-target="#comptabilite"> Comptabilité</a>
        <a class="tab" data-target="#juridique"> Juridique </a>
        <a class="tab" data-target="#finance"> Finance </a>
        <a class="tab" data-target="#social"> Social </a>
        <a class="tab" data-target="#gestion"> Management </a>
        <a class="tab" data-target="#rh"> RH </a>
        <a class="tab" data-target="#fo"> Family Office </a>
      </div>
<!-- contenu -->
    <div class="banner-service">
      <div class="tab-content" id="comptabilite">
      <h1>Nos services</h1>
        <div class="frame">
        <div class="container">
        <h2>Comptable</h2>
          <div class="row">
            <div class="col-sm-5">

              <article id="wpex1">
            <div><label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue  </label></div>
            <input class="exp-details" id="an1" type="checkbox">
            <div style="display: none;">
              <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
possibilités sont envisageables.</p>
            </div>
          </article>

          <article id="wpex2">
            <div><label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes  </label></div>
            <input class="exp-details" id="an2" type="checkbox">
            <div style="display: none;">
              <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
            </div>
          </article>


          <article id="wpex3">
            <div><label for="an3"><i class="fa fa-plus plus" aria-hidden="true"></i> IFRS </label></div>
            <input class="exp-details" id="an3" type="checkbox">
            <div style="display: none;">
              <p>Nous pouvons assurer la mise en place et le respect des normes IFRS.</p>
            </div>
          </article>

             <article id="wpex4">
            <div><label for="an4"><i class="fa fa-plus plus" aria-hidden="true"></i> Processus Comptables & administratifs </label></div>
            <input class="exp-details" id="an4" type="checkbox">
            <div style="display: none;">
              <p>Nous pouvons assurer l’organisation de votre système
administratif et comptable.</p>
            </div>
          </article>

              <article id="wpex10">
            <div><label for="an10"><i class="fa fa-plus plus" aria-hidden="true"></i> Le Full Service  </label></div>
            <input class="exp-details" id="an10" type="checkbox">
            <div style="display: none;">
              <p>Nous pouvons nous assurer l’ensemble — ou en partie — des démarches qui
concernent votre entité.</p>
            </div>
          </article>
        </div>

            <div class="col-sm-5">

              <article id="wpex6">
                <div><label for="an6"><i class="fa fa-plus plus" aria-hidden="true"></i> Révision/Situations  </label></div>
                  <input class="exp-details" id="an6" type="checkbox">
                  <div style="display: none;">
                    <p>Nous assurons la conformité vis-à- vis des règles légales et une image fidèle
      de la réalité de votre entité.</p>
                  </div>
                </article>

              <article id="wpex7">
                <div><label for="an7"><i class="fa fa-plus plus" aria-hidden="true"></i> Comptes annuels </label></div>
                <input class="exp-details" id="an7" type="checkbox">
                <div style="display: none;">
                  <p> Nous assurons la conformité vis-à- vis des règles légales et de l’image fidèle
    de la réalité de votre entité de vos comptes annuels.</p>
                </div>
                </article>

                <article id="wpex8">
                          <div><label for="an8"><i class="fa fa-plus plus" aria-hidden="true"></i> Reporting fce/us  </label></div>
                          <input class="exp-details" id="an8" type="checkbox">
                          <div style="display: none;">
                            <p> Nous pouvons assurer le « reporting » dans des délais convenus, avec les
              retraitements adaptés selon la mise en forme FRA/US ou autre.</p>
                          </div>
              </article>
                              <article id="wpex9">
                          <div><label for="an9"><i class="fa fa-plus plus" aria-hidden="true"></i> Mise en place d'ERP</label></div>
                          <input class="exp-details" id="an9" type="checkbox">
                          <div style="display: none;">
                            <p> Nous pouvons vous assister dans sa mise en place et dans la formation du
personnel.</p>
                          </div>
              </article>


          </div>
        </div>
      </div>
    </div>
    </div>
<!--  audit
<div class="container">
<h2>Audit</h2>
          <div class="row">
            <div class="col-sm-5">

              <article id="wpex11">
            <div><label for="an11"><i class="fa fa-plus plus" aria-hidden="true"></i> Évaluation  </label></div>
            <input class="exp-details" id="an11" type="checkbox">
            <div style="display: none;">
              <p>Nous pouvons réaliser avec l’aide de plusieurs méthodes, et par référence au
marché, un dossier complet.</p>
            </div>
          </article>

          <article id="wpex12">
            <div><label for="an12"><i class="fa fa-plus plus" aria-hidden="true"></i> Due diligence/ Data room  </label></div>
            <input class="exp-details" id="an12" type="checkbox">
            <div style="display: none;">
              <p>Nous pouvons vous accompagner et nous charger — à l’occasion d’une
opération de cession ou d’acquisition — de la constitution et/ou du contrôle du dossier.
</p>
            </div>
          </article>
        </div>
            <div class="col-sm-5">

              <article id="wpex16">
                <div><label for="an16"><i class="fa fa-plus plus" aria-hidden="true"></i> Spécifique  </label></div>
                  <input class="exp-details" id="an16" type="checkbox">
                  <div style="display: none;">
                    <p>Pour un événement nous pouvons :
Assurer les obligations spécifiques.
Porter un diagnostic.
Valider une opération.</p>
                  </div>
                </article>

                 <article id="wpex116">
                <div><label for="an116"><i class="fa fa-plus plus" aria-hidden="true"></i> Légal  </label></div>
                  <input class="exp-details" id="an116" type="checkbox">
                  <div style="display: none;">
                    <p>Selon les obligations légales applicables en France.</p>
                  </div>
                </article>
          </div>
        </div>
      </div>
      </div>  -->



<!--    fin content compta-->
<!-- debut juridique -->

<div class="tab-content hidden" id="juridique">
        <h2>Social</h2>
          <div class="frame">
            <div class="container">
              <h2>Comptable</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- fin jurique -->



<!--           <p>3 - JURIDIQUE

Assistance juridique : En complément et conséquences de nos autres missions de conseil, notre
équipe de juriste est à même de vous assurer le service le plus adapté.
Assemblée Générale Ordinaire Annuelle : Au-delà de sa régularité, et nous en profitons pour
faire chaque année avec vous un Diagnostic général de votre dossier.
Distribution de dividendes : Nous vous aidons à optimiser, en fonction de votre situation et de
celle de l’entité, les meilleurs choix ainsi qu’à anticiper la fiscalité et la trésorerie qui en
découlent.

3.1 Autres opérations juridiques

3.1.1 Création Société : Après vous avoir reçu et avoir compris votre « Business Model », avoir
maitrisé votre « Business Plan », nous vous conseillons sur le meilleur statut à adopter. Aussi,
nous vous préconisons les explicitant les meilleurs choix avec les conséquences sur le plan
juridique, social et fiscal.

3.1.2 Modifications : Siège, direction, statuts périodiques ou à la demande, nous pouvons vous
apporter des conseils et nous charger des formalités nécessaires.

3.1.3 Modifications forme sociale/fiscale : En prolongement de nos autres missions, nous
proposons l’adaptation, la réalisation et l’administration des traitements juridiques, sociaux et
fiscaux de votre entité les plus optimisés.

3.1.4 Cession de parts courantes : Nous nous chargeons de l’ensemble des formalités,
accompagné bien évidemment de la garantie de passif, pour assurer que la cession de part soit
simple et sans risque particulier.

3.2 Opérations particulières

3.2.1 Acquisition/cession sociétés : Nous pouvons vous accompagner, à la fois sur le plan des
opportunités de gestion, des analyses fiscales appropriées et enfin la négociation et rédactions
des différents actes, afin d’assurer une retranscription fiable des accords.

3.2.2 Acquisition/cession fonds de commerce ou droit au bail : Nous sommes, grâce à des
partenariats étroits avec nos correspondants avocats (ou les vôtres), à même d’assurer dans le

strict respect des obligations de délai et de publicité, le bon déroulement des actes de cession de
fonds de commerce ou de beaux commerciaux.
3.2.3 Restructurations/fusions : Après analyse de vos différentes entités, nous sommes à même
de vous proposer des solutions optimales de restructuration ou de fusion et d’assurer dans le
respect des procédures et des délais la rédaction des actes qui découlent de notre analyse.
3.2.4 Convention groupe : Management Fees, Convention de trésorerie : Ayant une
connaissance de votre dossier juridique, comptable et administratif, notre équipe de juriste est à
même de vous proposer et de surveiller la bonne application des conventions entre les
différentes sociétés de votre groupe, qu’elles soient commerciales ou financières.
3.2.5 Pactes d’associés : Nous sommes à même de vous proposer des pactes entre vos associés
et vous. Ceci vous assure une conduite et une pratique conforme tout au long de la vie de la
société même en cas de départ.
3.2.6 Analyse et suivi contrats : Nous sommes à même de porter un diagnostic est une analyse
plus approfondie avec nos correspondants avocat ou les vôtres.
3.2.7 Baux commerciaux aut.baux : Nous sommes à même d’analyser, d’optimiser, et surtout
de suivre les échéances sensibles et grâces à notre base de données.
3.2.8 Marques et brevets : Nous pouvons vous accompagner dans le dépôt de marques et
brevets et gérer la relation avec le cabinet technique.
3.2.9 Conformité CNIL : Nous pouvons nous charger de la conformité de votre système
d’information avec les obligations de la CNIL.</p> -->


<!-- finance debut -->



       <!--    <p>FINANCE

6.1 Recherche Financement : En fonction des besoins déterminés dans un business plan, nous
vous accompagnons dans une recherche les financements.
6.2 Aides &amp; subventions : Indépendamment de la recherche de financement préalablement
réalisée, nous regardons quelles sont les aides et subventions qui peuvent correspondre à votre
situation.
6.3 Stratégie haut de bilan :
Nous vous accompagnons dans la réflexion de réalisation de partenariats éventuels qui peuvent
être adaptés à votre développement.
6.4 Stratégies trésorerie : En fonction de votre activité, des constats passés et des prévisions,
nous vous accompagnons dans l’optimisation de la gestion de trésorerie.</p> -->

      <div class="tab-content hidden" id="finance">
        <h2>Social</h2>
          <div class="frame">
            <div class="container">
              <h2>Comptable</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- finance debut -->
<div class="tab-content hidden" id="social">
        <h2>Social</h2>
          <div class="frame">
            <div class="container">
              <h2>Comptable</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- finance fin -->

          <!-- <p>2 - SOCIAL
2.1 PAIE

En règle générale tous les actes juridiques — ou les points particuliers — font l’objet, selon nos
procédures internes de supervision ou de réunion technique, de vérification par des avocats
spécialisés en droit social.

2.1.1 Bulletins : De façon souple (mail, internet), nous réalisons nos diligences rapidement.
2.1.2 Charges sociales : Nous avons pour objectif d’optimiser systématiquement la situation de
votre entité.
2.1.3 Contrôle social : Notre préparation au contrôle social minimise les aléas. Nous pouvons
assurer la conduite du contrôle.

2.2 DROIT DU TRAVAIL

2.2.1 Contrats/avenants : Nous pouvons vous aider à trouver les meilleures adaptations
correspondant à votre situation tout en évitant les écueils, et ce en relation avec nos avocats
(lien ARCOLIA).

2.2.2 Mesures disciplinaires : Nous pouvons vous assister dans l’analyse réelle de la situation
(avec la détermination des points forts et des points faibles) et vous aidons à mettre en place la
solution la plus adaptée
2.2.3 Rupture :
 Licenciements démissions : Nous pouvons vous assister afin que, à la fois dans la forme
et sur la consistance du dossier, vous soyez protégé au maximum
 Rupture conventionnelle : Nous pouvons vous assister et assurons le formalisme du
dossier.
 Transactions : Nous assurons — avec les meilleures adaptations — les conventions
permettant de mettre une fin définitive à un conflit.</p> -->

      <div class="tab-content hidden" id="rh">
        <h2>Social</h2>
          <div class="frame">
            <div class="container">
              <h2>Comptable</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--       <div class="tab-content hidden" id="gestion">
        <div class="frame">
          <p>4 - Ressources Humaines

La gestion des RH est un élément essentiel au climat, à la protection, au dynamisme et en
définitive à l’harmonie et la performance de votre entité vis-à- vis des différents paramètres qui
s’imposent à votre entité. Votre stratégie est au-delà de la mise en régularité de vous proposer
de donner une image sociétale de votre entité positive.
4.1 Document unique : Nous vous aidons à confectionner et entretenir ce dernier afin d’anticiper
et de protéger l’entité et son dirigeant des conséquences d’accident.
4.2 Entretien professionnel annuel : Nous pouvons assurer la mise en place des grilles
d’entretien professionnel et ainsi que les fiches de fonction correspondant à l’organigramme de
votre entité.
4.3 Plan de formation : Nous pouvons assurer la mise en place des grilles d’entretien
professionnel et ainsi que les fiches de fonction correspondant à l’organigramme de votre entité.
4.4 Règlement intérieur/charte informatique : Nous pouvons assurer de façon adaptée la mise
en place et la révision périodique de :
Du règlement intérieur, afin d’assurer la diffusion d’un code de bonne conduite,
 La charte informatique.
4.5 Élections : Nous nous assurons du bon déroulement et du respect des procédures dans les
différentes élections de représentants du personnel auxquelles votre société est assujettie.
4.6 : Épargne salariale &amp; politique de rémunération : Nous pouvons vous accompagner pour
déterminer avec vous les meilleurs politiques de rémunération ou d’avantages divers, afin
d’optimiser la satisfaction de vos collaborateurs et de minimiser les charges sociales et la fiscalité
induite.
4.7 Santé au travail : Dans le cadre des différentes obligations, nous pouvons vous aider à mettre
en place les différentes mesures obligatoires qui mettent votre entreprise à l’abri des infractions
et lui permettent aussi d’avoir une responsabilité sociétale exemplaire et positive.
4.8 Bilan social : Nous réalisons en accord avec vous un bilan social avec la mise en avant
d’indicateurs adaptés.</p>
        </div>
      </div> -->
      <!-- <div class="tab-content hidden" id="rh">
           <div class="frame">
          <p>5 - GESTION
5.1 PRÉVISIONS

5.1.1 Business model : Nous élaborons avec vous les principaux paramètres qui peuvent
conduire votre projet à une réalité, que votre projet soit une création ou une adjonction ou
diversification des activités.
5.1.2 Plan de financement : En fonction du « Business Model » ou du « Business Plan », nous
élaborons le plan de financement avec la recherche des modalités les plus adaptées.
5.1.3 Business plan : Une fois le « Business model » réalisé et/ou avant chaque début d’exercice,
nous élaborons un « business plan » annuel ou pluriannuel simple accessible et compréhensible.
 Prévisionnel annuel + seuil rentabilité : Nous préconisons et vous assistons dans la
confection avant chaque début d’exercice d’un prévisionnel annuel avec les principaux
paramètres d’alerte et vigilance comme le seuil de rentabilité.
 Seuil rentabilité : Déterminé en fonction des différentes hypothèses, nous pouvons vous
aider à mettre en place les indicateurs de rentabilité annuelle ou mensuelle.
 Plan trésorerie : En fonction d’un « business plan », nous élaborons une approche de la
trésorerie annuelle.
5.1.4 Forecast (probable) : Nous pouvons vous proposer une prévision de fin d’année, à partir
d’une situation existante ou d’un événement inattendu, afin d’anticiper les conséquences en
termes de présentation de compte de trésorerie et de fiscalité.

5.2 TABLEAUX DE BORD

5.2.1 Exploitation : Grâce au « business plan » que nous avons réalisé avec vous, nous sommes à
même de vous proposer un suivi régulier par mois de votre activité.

5.2.2 Trésorerie : En fonction des résultats du tableau de bord de votre exploitation : nous
pouvons élaborer une prévision de trésorerie pour les trois à six mois qui viennent.

5.3 ETUDES PARTICULIERES

Prix de revient : Grâce à la maîtrise éléments de gestion, nous sommes à même de déterminer
avec vous les prix de revient les plus adaptés qui vous permettent, en fonction des
circonstances, de suivre vos réalisations et surtout de vous positionner sur des marchés de façon
justifiée.

</p>
        </div>
      </div> -->
            <div class="tab-content hidden" id="gestion">
        <h2>Social</h2>
          <div class="frame">
            <div class="container">
              <h2>Management</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="tab-content hidden" id="fo">
              <div class="frame">



          7 - FAMILY OFFICE


Indissolublement liés à votre entité, nous vous aidons à optimiser votre situation au présent et
de cerner les paramètres qui permettront d’anticiper les bonnes décisions à venir.
7.1 IRPP : Nous pouvons assurer vos déclarations sur le revenu et vous apportons les conseils les
plus adaptés à l’optimisation de votre situation.
7.2 ISF : Nous pouvons assurer vos déclarations et pouvons vous aider à orienter et anticiper les
prochaines…
7.3 Optimisation rémunération : Grâce à la connaissance de votre dossier personnel et de votre
entité, nous sommes à même de vous proposer les solutions adaptées et optimisées.
7.4 Protections du dirigeant : Grâce à la connaissance de votre situation personnelle et de celle
de votre entité, nous sommes à même de vous proposer les solutions, les plus justes dans
l’intérêt de votre entité et du vôtre.
7.5 Diagnostics retraite : Nous pouvons porter un diagnostic sur votre situation afin d’anticiper
vos prises de décisions et améliorer votre future situation ainsi que celle de votre Entourage.
7.6 Pacte Dutreil : Nous assurons la mise en place et la gestion des différents actes nécessaires à
optimiser une transmission à titre gratuit (succession, donation), ou votre ISF en profitant d’un
abattement de 75 %.
7.7 Stratégie transmission : Nous vous accompagnons pour mettre en place et surtout optimiser
votre stratégie de transmission qu’elle soit à titre gratuit et/ou onéreux et de mettre en place
bien à l’avance les structures juridiques les plus favorables.</p>
        </div>
      </div> -->
            <div class="tab-content hidden" id="fo">
        <h2>Family Office</h2>
          <div class="frame">
            <div class="container">
              <h2>Comptable</h2>
              <div class="row">
              <!-- col 1 -->
                <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                    </article>
                    </div>

                    <!-- col 2 -->
                    <div class="col-sm-5">
                  <article id="wpex1">
                    <div>
                      <label for="an1"><i class="fa fa-plus plus" aria-hidden="true"></i> Tenue</label>
                    </div>
                    <input class="exp-details" id="an1" type="checkbox">
                    <div style="display: none;">
                    <p>Service complet et modulable. chez nous, chez vous, par internet, scan,… plusieurs
  possibilités sont envisageables.</p>
                    </div>
                  </article>

                  <article id="wpex2">
                    <div>
                      <label for="an2"><i class="fa fa-plus plus" aria-hidden="true"></i> TVA/Taxes 
                      </label>
                    </div>
                    <input class="exp-details" id="an2" type="checkbox">
                    <div style="display: none;">
                    <p>Nous assurons la conformité et l’optimisation de l’ensemble de vos obligations
fiscales.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section id="sainttropez">
    <div class="banner-top">
      <h2>Cabinet Michel Aimasso et associés</h2>
    </div>
    <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'sainttropez.jpg' %>');">

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1707742937047!2d6.632194350438052!3d43.268797985118745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cec7124aced257%3A0x7364bbf8a605256e!2s4+Avenue+G%C3%A9n%C3%A9ral+Leclerc%2C+83990+Saint-Tropez!5e0!3m2!1sfr!2sfr!4v1503758483091" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-content-city">
          <p><i class="fa fa-home" aria-hidden="true"></i> 4-6 avenue du Général Leclerc 83990, Saint-Tropez</p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> aimasso@aca-consult.com</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> 04 94 56 63 20</p>
      </div>
    </div>


  </section>

  <section id="paris">
   <div class="banner-top">
      <h2>Cabinet CDG</h2>
    </div>
    <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'paris.jpg' %>');">

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1707742937047!2d6.632194350438052!3d43.268797985118745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cec7124aced257%3A0x7364bbf8a605256e!2s4+Avenue+G%C3%A9n%C3%A9ral+Leclerc%2C+83990+Saint-Tropez!5e0!3m2!1sfr!2sfr!4v1503758483091" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-content-city">
          <p><i class="fa fa-home" aria-hidden="true"></i> 4-6 avenue du Général Leclerc 83990, Saint-Tropez</p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> aimasso@aca-consult.com</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> 04 94 56 63 20</p>
      </div>
    </div>


  </section>
  <section id="marseille">
   <div class="banner-top">
      <h2>Cabinet Abeille Consultant Associés</h2>
    </div>
    <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'marseille.jpg' %>');">

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1707742937047!2d6.632194350438052!3d43.268797985118745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cec7124aced257%3A0x7364bbf8a605256e!2s4+Avenue+G%C3%A9n%C3%A9ral+Leclerc%2C+83990+Saint-Tropez!5e0!3m2!1sfr!2sfr!4v1503758483091" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-content-city">
          <p><i class="fa fa-home" aria-hidden="true"></i> 4-6 avenue du Général Leclerc 83990, Saint-Tropez</p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> aimasso@aca-consult.com</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> 04 94 56 63 20</p>
      </div>
    </div>


  </section>
  <section id="cogolin">
   <div class="banner-top">
      <h2>Cabinet Michel Aimasso et associés</h2>
    </div>
    <div class="banner-city" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'cogolin.jpg' %>');">

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.1707742937047!2d6.632194350438052!3d43.268797985118745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cec7124aced257%3A0x7364bbf8a605256e!2s4+Avenue+G%C3%A9n%C3%A9ral+Leclerc%2C+83990+Saint-Tropez!5e0!3m2!1sfr!2sfr!4v1503758483091" width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="banner-content-city">
          <p><i class="fa fa-home" aria-hidden="true"></i> 4-6 avenue du Général Leclerc 83990, Saint-Tropez</p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> aimasso@aca-consult.com</p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> 04 94 56 63 20</p>
      </div>
    </div>


  </section>

</div>
